version: '3.1'
networks:
  nginx-proxy-manager-nw:
  keycloak-nw:
  reverseproxy-nw:
    external: true

services:
  # unused in this stack, managed locally, kept here for documentation
  #portainer:
  #  image: 'portainer/portainer-ce:latest'
  #  container_name: portainer
  #  restart: always
  #  privileged: true
  #  volumes:
  #    - ${PORTAINER_DIR}:/data
  #    - /var/run/docker.sock:/var/run/docker.sock
  #  ports:
  #    - '9443:9443'
  #  networks:
  #    - reverseproxy-nw

  nginx-ui:
      stdin_open: true
      tty: true
      container_name: nginx-ui
      restart: always
      environment:
          - TZ=America/New_York
      volumes:
          - '/mnt/docker/containers/nginx:/etc/nginx'
          - '/mnt/docker/containers/nginx-ui:/etc/nginx-ui'
          #- '/var/www:/var/www'
          - '/var/run/docker.sock:/var/run/docker.sock'
      ports:
          - 80:80
          - 443:443
      image: 'uozi/nginx-ui:latest'
      networks:
        - reverseproxy-nw

  unifi-controller:
    image: lscr.io/linuxserver/unifi-controller
    container_name: unifi-controller
    environment:
      - PUID=${UNIFI_PUID}
      - PGID=${UNIFI_PGID}
      - MEM_LIMIT=1024 #optional
      - MEM_STARTUP=1024 #optional
    volumes:
      - ${UNIFI_CONFIG_DIR}:/config
    ports:
      - 3478:3478/udp
      - 10001:10001/udp
      - 8080:8080
      #- 8443:8443
      #- 1900:1900/udp #optional
      #- 8843:8843 #optional
      #- 8880:8880 #optional
      #- 6789:6789 #optional
      #- 5514:5514/udp #optional
    restart: unless-stopped
    networks:
      - reverseproxy-nw

  docker-registry:
    container_name: "docker-registry"
    image: registry:2
    environment:
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
    volumes:
      - ./data:/data
    networks:
        - reverseproxy-nw
    restart: unless-stopped

  backrest:
    image: garethgeorge/backrest:latest
    container_name: backrest
    hostname: backrest
    volumes:
      - ${BACKREST_DIR}/data:/data
      - ${BACKREST_DIR}/config:/config
      - ${BACKREST_DIR}/cache:/cache
      - ${BACKREST_DIR}/tmp:/tmp
      - ${BACKREST_DIR}/rclone:/root/.config/rclone # Mount for rclone config (needed when using rclone remotes)
      - ${BACKREST_BACKUP_DIR}:/userdata  # Mount local paths to backup
      - ${BACKREST_LOCAL_RESTIC_DIR}:/repos     # Mount local repos (optional for remote storage)
    environment:
      - BACKREST_DATA=/data
      - BACKREST_CONFIG=/config/config.json
      - XDG_CACHE_HOME=/cache
      - TMPDIR=/tmp
      - TZ=America/New_York
    ports:
      - "9898:9898"
    restart: unless-stopped
    networks:
        - reverseproxy-nw

  netalertx:
    container_name: NetAlertX
    hostname: NetAlertX
    privileged: true
    image: ghcr.io/jokob-sk/netalertx:latest
    environment:
      - TZ=America/New_York
    restart: unless-stopped
    volumes:
      - ${NETALERTX_DIR}/db:/app/db
      - ${NETALERTX_DIR}/config:/app/config
    network_mode: host
